body {
    background-color: black;
    margin: 0;
}

.navbar {
    position: fixed;
}


#mainHeading {
  color: white;
  text-align: center;
}

#layer-one {
    background: black;
    width:130%;
    position: absolute;
    top: 40px;
    bottom: 40px;
    float:left;
}

#layer-two {
    background: black;
    position: absolute;
    top: 0;
    bottom: 0;
    width:90%;
    float:left;
}

img {
    width: 100%;
    margin-top: 15px;
    border:solid 7px white;
}

img:hover {
  border:solid 7px red;
}

.photoRow {
    display:flex;
    padding-bottom: 50px;
}

/**/
.photoColumn {
    width: 30%;
    flex-wrap: wrap;
    margin-right:20px
}
