body {
    background-color: black;
    margin: 0;
    overflow-x: hidden;
}

#mainHeading {
  margin-bottom:0;
  padding-bottom:20px;
  padding-top:30px;
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Playfair Display', serif;
  z-index: 1;
  position: fixed;
  width:100%;
  border-bottom:solid;
}

#mainParagraph {
  background-color: black;
  color: white;
  margin-top:20px;
}

#layer-one {
    background: black;
    width:130%;
    position: absolute;
    top: 160px;
    bottom: 70px;
}

#layer-two {
    background: black;
    position: absolute;
    top: 0;
    bottom: 0;
    width:90%;
}

img {
    width: 100%;
    border:solid 3px black;
    cursor: pointer;
    transition: 0.4s;
}

img:hover {
  border:solid 3px red;
  filter: brightness(118%);
}

.nohover:hover {
  border: none;
  filter: brightness(100%);
}

.photoRow {
    display:flex;
    padding-bottom: 50px;
    margin-left:20px;
}

/**/
.photoColumn {
    width: 30%;
    flex-wrap: wrap;
}

.wrapper {
  margin-bottom: 50px;
  text-align: center;
}


/*--------------- MODAL ----------------*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 101%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border: none !important; /* for removing hover effect */
    filter: brightness(100%) !important;
}

/* webkit for zooming in when clicked */
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* webkit for zooming in when clicked */
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    display: block;
    z-index: 2;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
