body {
    background-color: black;
    margin: 0;
    font-family: Arial;
}

#mainHeading {
  color: white;
  text-align: center;
}

.layer {
    padding: 20px;
    color: white;
}
#base-layer {
    overflow: hidden;
}

#layer-one {
    background: red;
    padding-top:200px;
}
.slider {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.slider img {
    width: 70%;
}


/**/
.photoColumn {
    float: left;
    width: 20%;
    padding: 10px;
}

/* Clear floats after the columns */
.photoRow:after {
    content: "";
    display: table;
    clear: both;
}

.photoColumn img {
    margin-top: 12px;
}

@media (max-width: 800px) {
    .photoColumn {
        width: 50%;
    }
}

@media (max-width: 400px) {
    .photoColumn {
        width: 100%;
    }
}
